

/* reset */ 

@font-face {
    font-family:"PTSerif-Bold.ttf" ;
    src: url(../Fonts/PTSerif-Bold.ttf);
}

*{
  margin:0;
  padding: 0%;
}

@import url(_footer.scss);
@import url(_header.scss);
@import url(_main.scss);


/*Navegador */

/* reset */

* {
    margin: 0;
    padding: 0%;
  }
  
  h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
  }
  
  
  h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
  }
  
  
  h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  
  }
  
  h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  
  }
  
  h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  
  }
  
  span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  }
  
  p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  }
  
  /*Navegador */
  
  
  .logo__container{
    display: flex;
  }
  
  .escudo {
    width: 130px;
    margin-left: 5%;
    height: 180px;
    margin-top: 1%;
  }
  
  .nombre {
    font-size: 40px;
    margin-left: 1%;
    margin-top: 5%;
  }
  
  .navbar-brand {
    margin-left: 5%;
  }
  
  /*Pagina 1 */
  
  .portada_inicial{
    display: flex;
    justify-content: center;
  }
  
  
  .portada_inicial img{
      width: 80%;
      height: 550px;
  }
  
  .texto_portada{
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }
  
  .parrafo_portada {
     display: flex;
     justify-content: center;
     margin-left: 20%;
     width: 60%;
  }
  
  .titulo {
    display: flex;
    margin: 20px;
    height: 40px;
    color: white;
    background-color: black;
    justify-content: center;
    margin-top: 2%;
  }
  

.new_container {
    display: $dflex;
    justify-content: space-around;
    flex-flow: row wrap;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    width: $ancho;
    height: 500px;
}

.new_container{
    $fotoestadio:"estadio";
    background-position: 200%;
    background-size: cover;
}

@if($fotoestadio=="estadio"){
    background-image: $galeria;
}

.new_container .conteiner {
border: 10px solid;
background-color: rgb(207, 207, 207);
color: black;
width: 30%;
}

.conteiner:hover {
    transform: scale(1.03);
}   

.new_container .conteiner img {
    width: $ancho;
    opacity: .85;
}

.new_container .conteiner img:hover {
        opacity: 1;
}


.titulo1{
    display: $dflex;
    justify-content: center;
    height: 40px;
    margin: 20px;
    color: white;
    background-color:black;
    text-align: center;
}

.new_container1 {
    display: $dflex;
    border-radius: 1px;
    flex-flow: row wrap;
    justify-content: space-around;
    width: $ancho;
    height: 450px;
    background-image: $galeria;
    background-position: 200%;
    background-size: cover
}

.new_container1 .conteiner1 {
    border: 10px solid;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    width: 30%;
    height: $alto;
    }

.conteiner1:hover {
          transform: scale(1.03);
}   

    .new_container1 .conteiner1 img {
        width: $ancho;
        opacity: .85;
    }

    .new_container1 .conteiner1 img:hover {
        opacity: 1;
    }

.titulo2{
    display: $dflex;
    justify-content: center;
    height: 40px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}



/* Pagina 2 */

.titulo4{
    display: $dflex;
    justify-content: center;
    height: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.hist_container{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    margin: 1%;
    justify-content: center;
}

.hist_container{
    background-position: 100%;
    background-size: cover;
    margin-bottom: 1%;
    height: 900px;
    animation: galeria 20s infinite;
}

@keyframes galeria{
    0%, 100% {
      background-image: $galeria;
    }
      50%{
         background-image: $galeria1;
      }
    }   

.hist_container .container2{
    padding: 10px;
    margin: 10px;
    border: solid 5px black;
    border-radius: 10px;
    background: rgb(207, 207, 207);
    width: 90%;
}

.container2:hover {
    transform: scale(1.03);
}   


.hist_container .container2 img{
width: $ancho;
opacity: .85;
}

.hist_container .container2 img:hover {
    opacity: 1;
}



/* Pagina 3 */

.titulo6{
    display: $dflex;
    justify-content: center;
    height: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.socio_container{
    display: grid;
    grid-template-columns: repeat(2, 42%);
    margin: 10px;
    border: solid 7px black;
    background: rgb(153, 152, 152);
    color: rgb(255, 255, 255);
    background-image: url(../Img/sociossssss.jfif);
    background-position: 100%;
    background-size:cover;
    width: $ancho;
}

.socio_container a {
    text-decoration: none;
    list-style: none;
    color: white;
    }

.registro{
    display: $dflex;
    margin: 20%;
    margin-top: 15%; 
    height: 27%;
    width: 60%;
    background-color: rgb(0, 0, 0, 0.70);
    border: 10px solid rgb(0, 0, 0, 0.20);
}

.pago{

    color: rgb(255, 255, 255);
    margin: 10%;
    margin-top: 10%;
    width: 60%;
    margin-right: 10%;
    background-color: rgb(0, 0, 0, 0.70);
    border: 10px solid rgb(0, 0, 0, 0.20);
}


/* Pagina 4 */

.titulo5{
    display: $dflex;
    justify-content: center;
    height: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.poli_container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 10px;
    column-gap: 40px;
    row-gap: 35px;
}

.poli_container {
    background-position: 200%;
    background-size: cover;
    animation: galeria 20s infinite;
}

.poli_container .container3{
    
    border: 10px solid;
    background-color: rgb(207, 207, 207);
    color: black;
    width: 70%;
    margin-left: 10%;
}

.container3:hover {
    transform: scale(1.03);
}   


.poli_container .container3 img{
    width: $ancho;
    height: 90%;
    opacity: .85;
}

.poli_container .container3 img:hover {
    opacity: 1;
}


.portada_container img{
     display: $dflex;
     justify-content: center;
     width: $ancho;
     height: 500px;
    }

@keyframes galeria{
     0%, 100% {
       background-image: $galeria;
     }
       50%{
          background-image: $galeria1;
       }
     }   


/* Pagina 5 */

.titulo7{
    display: $dflex;
    justify-content: center;
    height: 30px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.portada2_container{
    display: $dflex;
    justify-content: center;
    width: 100%;
    background: black;
}

.tienda {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 15px;
}

.tienda{
    $fotoestadio:"estadio1";
    background-image: $galeria1;
    background-position: 300%;
    background-size: cover;
    margin-bottom: 1%;
}
@if($fotoestadio=="estadio1"){
    background-image: $galeria1;
}

.tienda .conteiner4 {
    margin-left: 10%;
    border: 10px solid;
    background-color:white;
    color: black;
    width: 55%;
}

.conteiner4:hover {
    transform: scale(1.03);
}   

.tienda .conteiner4 img{
    width: 30%;
}

/*Patrocinadores*/

.patrocinador{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    background-color:white;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    margin: 10px;
    column-gap: 40px;
    row-gap: 35px;
    border: 10px solid ;
    background-image: $galeria1;
    background-position: 300%;
    background-size: cover;
    margin-bottom: 1%;
}



.patrocinador .patro{
    display: $dflex;
    justify-content: center;
    border: 10px solid;
    background-color:white;
    color: black;
    width: auto;
    width: 70%;
    margin: 1%;
}

.patro:hover {
    transform: scale(1.03);
}   
.patrocinador .patro img{
    width: 60%;
    height: auto;
}


/*Footer*/

.footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 150px;
}



/* Estilo Mobile */

@media (max-width: 480px) {


    .logo__container{
            display: grid;
            grid-area: 
            "escudo"
            "nombre";
            margin-left: 2%;
    }
    
    .nav_container{
        display: flex;
        justify-content: space-around;
    }


    .video_1 video {
        width: $ancho;
        height: $alto;
         background-color: black;
    }


     .video_1 {
        height: 250px;
     }

     .titulo{
        margin-top: 20%;
     }
     .new_container{
        display: $dflex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: $ancho;
     }

     .new_container .conteiner{
        flex-wrap: nowrap;
        width: 93%;
        margin-bottom: 3%;
        margin-left: 1%;
     }
     

     .new_container1{
        display: $dflex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: $ancho;
     }

     .new_container1 .conteiner1{
        flex-wrap: nowrap;
        width: 93%;
        margin-bottom: 3%;
        margin-left: 1%;
     }


     .hist_container{
        display: $dflex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: $ancho;
     }

     .hist_container .container2{
       width: 90% ;
     }
     
    .hist_container .container2 img{
        width: $ancho;
    }
    
    .portada_container img{
        height: 200px;
    }


     .socio_container{
        display: $dflex;
        flex-direction: column;       
     }

     .socio_container .registro{
        background-color: black;
        border: 10px solid black;
        
     }
     
     .socio_container .pago{
        background-color: black;
        margin-left: 17%;
        border: 10px solid black;
     }

     .socio_container{
      background-image: $galeria1;
      background-position:100%;
      background-size: cover;
      margin-bottom: 1%;
      width: 94%;
     }
   
    .poli_container{
        display: $dflex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: $ancho;
    }
    
     .container3{
        margin-bottom: 3%;
     }

     .tienda{
        display: $dflex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: $ancho;
     }

    
    .portada2_container img{
       width: $ancho;
    }
     .conteiner4{
        margin-bottom: 3%;
     }


.patrocinador{
    display: $dflex;
    flex-direction: column;
    background-color:white;
    flex-wrap: wrap;
    width: 93%;
    height: auto;
    margin: 10px;
    column-gap: 40px;
    row-gap: 35px;
    border: 10px solid ;
    background-image: $galeria1;
    background-position: 300%;
    background-size: cover;
    margin-bottom: 1%;
}



.patrocinador .patro{
    display: $dflex;
    justify-content: center;
    border: 10px solid;
    background-color:white;
    color: black;
    width: auto;
    width: 70%;
    margin: 5%;
    margin-left: 12%;
}

.patrocinador .patro img{
    width: 60%;
    height: auto;
}

 .footer{
        width: $ancho;
    }
}
/*Cierre estilo Mobile */
